<div class="">
  <div class="container">
    <div class="col-md-8 mx-auto">
      <%= link_to 'Back', profiles_path, class: "btn btn-pri"%>
      <div class="form p-4">
      <%= simple_form_for(@profile) do |f| %>
        <%= f.input :photo, as: :file %>
        <%= simple_fields_for current_user do |k| %>
          <%= k.input :first_name %>
          <%= k.input :last_name %>
          <%= k.input :whatsapp_number %>
        <% end %>
        <%= f.input :profession %>
        <%= f.input :bio %>
        <%= f.input :location %>
        <%= f.button :submit, class: "btn btn-submit" %>
      <% end %>
      </div>
    </div>
    <div class="col-md-8 mx-auto">
      <div id="skill-form" class="form p-4">
          <%= simple_form_for([ @profile, @profile_skill ], remote: true) do |f| %>
          <%= f.association :skill, label: "Skills (5 max)", collection: Skill.all.reject {|skill| @profile.skills.pluck(:skill).include?(skill.skill) }.map {|skill| [skill.skill, skill.id]} %>
          <%= f.button :submit, class: "btn btn-submit my-2" %>
        <% end %>
        <div class="d-flex">
          <% @profile.profile_skills.each do |profile_skill| %>
            <li id="skills" class="mx-2"><%= profile_skill.skill.skill %>
              <%= link_to 'x', profile_skill_path(profile_skill),
              method: :delete
            %></li>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-8 mx-auto">
      <div id="link-form" class="form p-4">
          <%= simple_form_for([ @profile, @website_link ], remote: true) do |f| %>
          <%= f.input :url, label: "Website link" %>
          <%= f.input :label %>
          <%= f.button :submit, class: "btn btn-submit  my-2" %>
        <% end %>
        <div class="d-flex">
        <% @profile.website_links.each do |website_link| %>
          <li id="skills" class="mx-2"><%= link_to website_link.label, website_link.url %>
            <%= link_to 'x', website_link_path(website_link),
            method: :delete %>
          </li>
        <% end %>
        </div>
      </div>
      <%= link_to 'Save', profiles_path, class: "btn btn-pri" %>
    </div>
  </div>
</div>
