<div class="container">
  <div class="row profile my-4">
    <div class="col-sm-9">
      <%= link_to "< Back", profiles_path, class:"btn btn-pri my-3" %>
      <div class="d-flex flex-row">
        <h2><%= @profile.user.first_name %> <%= @profile.user.last_name %></h2>
        <h6 id="profession" class="mx-3"><%= @profile.profession %></h6>
      </div>
      <div class="my-3">
        <p><%= @profile.profile_skills %></p>
      </div>
      <div class="my-3">
        <p><%= @profile.bio %></p>
      </div>

      <div>
        <%= simple_form_for [ @profile, @note ] do |f| %>
          <%= f.input :content, label: false %>
          <%= f.button :submit, 'Add note', class: "btn btn-sec my-2" %>
        <% end %>
        <ul class="list-group">
          <% @profile.notes.each do |note| %>
            <li class="list-group-item">
              <%= note.content %>
              <%= link_to "Delete",
                  [@profile, note],
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>




      </div>

    </div>
    <div class="profile-contact col-sm-3">
    <% if @profile.photo.attached? %>
      <%= cl_image_tag @profile.photo.key, :height=>180, :quality=>100, :radius=>64, :width=>180, :crop=>"scale" %>
    <% else %>
      <%= cl_image_tag "avatar-1577909_640_vq4ofo.png", :height=>180, :quality=>100, :radius=>64, :width=>180, :crop=>"scale", :opacity=>24%>
    <% end %>
      <div>
        <li class="p-2"><a class="btn btn-sec" href="mailto:" <% @profile.user.email %>>Email</a></li>
        <li class="p-2"><a class="btn btn-sec" href="https://wa.me/" target="_blank"<%= @profile.user.whatsapp_number %>>WhatsApp</a></li>
        <% if @website_links.present? %>
          <% @website_links.each do |link| %>
            <li class ="p-2"><%= link_to link.label, link.url, class: "btn btn-sec", target:"_blank" %></li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
