<!DOCTYPE html>
<html>
  <head>
    <title>flxibl - Freelance Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag 'application', defer: true %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
  </head>

  <body>
    <% if user_signed_in? && current_user.profile && current_user.profile.photo.attached? %>
      <%= content_for :meta_image, cl_image_path(current_user.profile.photo.key) %>
      <%= content_for :meta_title, "#{current_user.profile.user.full_name} is on flxibl" %>
      <%= content_for :meta_description, "Add #{current_user.profile.user.first_name} to your freelance network" %>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
